<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.Mapper.home.HomeMapper">


<select id="viewall" resultType="org.example.home.DTO.SYS_LOC_CD">
    SELECT * FROM SYS_LOC_CD
</select>

<select id="insertall" resultType="org.example.home.DTO.SYS_LOC_CD">
    EXEC SP_KDW_MANAGE_SAVE #{loc_code}, #{loc_name}, #{stock_lqty}, #{move_qty},#{use_yn},#{user_code},#{keyword}, #{list}
</select>











</mapper>